p {font-family:"Times new roman"}

#app {
  max-width: 930px;
  margin: 0px auto;
}

div:focus {
  outline: 0px dashed red;
}

.box{
  margin: 8px; 
  padding: 5px;
  background-color: #f0f0f0;
}
.valueInput {
  margin:0px 4px;
}
.title{
  margin: 10px; 
  padding: 0px;
  zbackground-color: #f0f0f0;
}

.interpolating{
  background-color: #77b;
}

.inline{
  display:inline;
  xwhite-space:nowrap;
}

.inlineBlock {
  display:inline-block;
}

.hidden {
  display:none;
}
.interpolationButton {
  background-color:green;
  padding: 0;
  border: 1px;
  width: 1.5em;
  background: green;
}
button {
  margin:1px
}
.btnPlayScore {width:2em}
#btnRecStop, .btnStopScore {display:none}

span#title {font-weight:bold}