p {font-family:"Times new roman"}

.box{
  margin: 10px; 
  padding: 5px;
  background-color: #f0f0f0;
}

.interpolating{
  background-color: #77b;
}

.inline{
  display:inline;
  xwhite-space:nowrap;
}

.inlineBlock {
  display:inline-block;
}

.hidden {
  display:none;
}